body {
  font-family: Robotto;
}

.wrapper {
  font-size: 16px;
  color: #666;
  padding: 10em;
}

svg {
  overflow: visible;
}

text {
  fill: black;
  color: black;
  font-size: 16px;
}

.subtitle text {
  text-decoration: underline;
  font-size: 12px;
}

.axis .domain,
.axis.xAxis line {
  display: none;
}